<%-include('include/_header')%>

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"> <i class="fas fa-angle-double-left"></i> All Users</a>
      </div>
    </div>

    <div class="form-title text-center">
      <h2 class="text-dark">Update User</h2>
      <span class="text-light">Use the below form to Update a user.</span>
    </div>

    <form id="update_user" name="loginForm" action="/updateSimpleUser/<%= user._id %>" class="" method="post" onsubmit="return validateSignupform()">
      <div class="new_user">
        <div class="form-group">
          <label for="name" class="text-light">Name</label>
          <input type="hidden" name="name" value="">
          <input type="text" name="username" value="<%= user.name %>" placeholder="John Doe">
        </div>

        <div class="form-group">
          <label for="email" class="text-light">Email</label>
          <input type="text" name="email" value="<%= user.email %>" placeholder="John@gmail.com">
        </div>

        <div class="form-group">
          <label for="password" class="text-light">Password</label>
          <input type="password" name="password" value="<%= user.password %>" placeholder="********">
        </div>


        <div class="form-group">
          <label for="phone" class="text-light">Phone</label>
          <input type="text" name="phone" value="<%= user.phone %>" placeholder="1234567891">
        </div>

        <div class="form-group">
          <label for="gender" class="text-light">Gender</label>
          <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male"<%= user.gender == 'Male'?'checked':""%>>
                  <label for="radio-2" class="radio-label">Male</label>
                  <input type="radio" id="radio-3" name="gender" value="Female"<%= user.gender == 'Female'?'checked':""%>>
                    <label for="radio-3" class="radio-label">Female</label>
          </div>

        </div>

        <div class="form-group">
          <label for="phone" class="text-light">Bio</label>
          <textarea name="bio" rows="8" cols="80"><%= user.bio %></textarea>
        </div>

  <div class="form-group">
    <button type="submit" class="btn text-dark update" name="button">Save</button>
    </div>


      </div>

    </form>

  </div>
</main>

<%-include('include/_footer')%>
